.DS_Store
.idea/workspace.xml
dist/
vendor/

app-builder-bin-linux-ia32
app-builder-bin-linux-x64
app-builder-bin-linux-arm
app-builder-bin-linux-arm64
app-builder-bin-darwin-x64
app-builder-bin-win32-x32
app-builder-bin-win32-x64
tmp

/.idea/shelf/